<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet" href="/internal/template/static/css/add_books.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/internal/template/static/js/error_alerts.js"></script>
  <script src="/internal/template/static/js/login_out_alert.js"></script>
</head>

<body>

    <nav class="navbar">
        <div class="navbar-container">
            <h1 class="logo">Library Management</h1>
            <div class="nav-links">
                {{if eq $.Role "superadmin"}}
                <a href="/superadmin/dashboard">Home</a>
                {{end}}
                {{if eq $.Role "admin"}}
                <a href="/admin/dashboard">Home</a>
                {{end}}
                <a href="/logout">Logout</a>
            </div>
        </div>
    </nav>

    <main class="form-wrapper">
        <h2>Add a New Book</h2>
        <form action="/add_book" method="POST" class="book-form">
            <label for="title">Book Title</label>
            <input type="text" id="title" name="title" required>

            <label for="author">Author</label>
            <input type="text" id="author" name="author" required>

            <label for="year">Year</label>
            <input type="number" id="year" name="year" required>

            <label for="description">Description</label>
            <input type="text" id="description" name="description" required>

            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" min="1" required>

            <button type="submit">Add Book</button>
        </form>
    </main>

</body>

</html>