<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="/internal/template/static/css/all_users.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/internal/template/static/js/error_alerts.js"></script>
  <script src="/internal/template/static/js/login_out_alert.js"></script>
</head>

<body>

    <nav class="navbar">
        <div class="navbar-container">
            <h1 class="logo">Library Management</h1>
            <div class="nav-links">
                {{if eq $.Role "superadmin"}}
                <a href="/superadmin/dashboard">Home</a>
                {{end}}
                {{if eq $.Role "admin"}}
                <a href="/admin/dashboard">Home</a>
                {{end}}
                <a href="/logout">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2>All Registered Users</h2>

        <div class="search-bar">
            <form class="search-bar" method="GET" action="/all_users">
                <input type="text" name="search" id="searchInput" placeholder="Search by name or email..."
                    value="{{.Query}}">
                <button type="submit">Search</button>
            </form>
        </div>

        <table id="usersTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Role</th>
                    {{if or (eq $.Role "admin") (eq $.Role "superadmin")}}
                    <th>Remove</th>
                    {{end}}
                </tr>
            </thead>
            <tbody id="usersBody">
                {{range $.Users}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Id}}</td>
                    <td>{{.Role}}</td>
                    {{if or (eq $.Role "admin") (eq $.Role "superadmin")}}
                    <td>
                        <form method="POST" action="/remove_user">
                            <input type="hidden" name="user_id" value="{{.Id}}">
                            <button type="submit" class="remove_btn">Remove</button>
                        </form>
                    </td>
                    {{end}}
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

</body>

</html>