<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Borrowed Books</title>
    <link rel="stylesheet" href="/internal/template/static/css/borrowed_books.css">
</head>

<body>

    <header>
        <h2>Borrowed Books</h2>
        <div class="nav-buttons">
            {{if eq $.Role "superadmin"}}
            <a href="/superadmin/dashboard">Home</a>
            {{end}}
            {{if eq $.Role "admin"}}
            <a href="/admin/dashboard">Home</a>
            {{end}}
            {{if eq $.Role "user"}}
            <a href="/home">Home</a>
            {{end}}
            <a href="/logout">Logout</a>
        </div>
    </header>

    <table>
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Borrowed Date</th>
                <th>Return Date</th>
                <th>Return</th>
            </tr>
        </thead>
        <tbody>
            {{range .Book}}
            <tr>
                <td>{{.BookID}}</td>
                <td>{{.BookName}}</td>
                <td>{{.Author}}</td>
                <td>{{.BorrowDate.Format "2006-01-02"}}</td>
                <td>
                    {{if .ReturnedDate}}
                    {{.ReturnedDate.Format "2006-01-02"}}
                    {{else}}Not Returned{{end}}
                </td>
                {{if and (eq $.Role "user") (not .ReturnedDate)}}
                <td>
                    <form method="POST" action="/return_book">
                        <input type="hidden" name="book_id" value="{{.BookID}}">
                        <button type="submit" class="return_btn">Return</button>
                    </form>
                </td>
                {{else}}
                <td></td>
                {{end}}

            </tr>
            {{else}}
            <tr>
                <td colspan="4">You haven't borrowed any books yet.</td>
            </tr>
            {{end}}
        </tbody>
    </table>

</body>

</html>