<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Library Management</title>
    <link rel="stylesheet" href="/internal/template/static/css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/internal/template/static/js/login_out_alert.js"></script>
</head>
<body>

  <nav class="navbar">
    <div class="navbar-container">
      <h1 class="logo">Library Management</h1>
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/register">Register</a>
      </div>
    </div>
  </nav>

  <main class="login-container">
    <h2>Login</h2>
    <form method="POST" action="/login">
      <label for="id">ID:</label>
      <input type="text" id="id" name="userid" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
    </form>
    <div class="login-to-register">
      <a href="/register">Don't have an account? Register</a>
    </div>
  </main>

</body>

</html>
