<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="/Server/static/css/all_users.css">
</head>

<body>
    <div class="container">
        <h1>All Registered Users</h1>

        <div class="search-bar">
            <form class="search-bar" method="GET" action="/all_users">
                <input type="text" name="search" id="searchInput" placeholder="Search by name or email..."
                    value="{{.Query}}">
                <button type="submit">Search</button>
            </form>
        </div>

        <table id="usersTable">
            <tbody id="usersBody">
                <tr>
                    <td>Name</td>
                    <td>ID</td>
                    <td>Role</td>
                    {{if eq $.Role "admin"}}
                    <td>Remove</td>
                    {{end}}
                    {{if eq $.Role "superadmin"}}
                    <td>Remove</td>
                    {{end}}

                </tr>

                {{range $.Users.Users}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Id}}</td>
                    <td>{{.Role}}</td>
                    {{if eq $.Role "admin"}}
                    <td>
                        <form method="POST" action="/remove_user">
                            <input type="hidden" name="user_id" value="{{.Id}}">
                            <button type="submit" class="remove_btn">Remove</button>
                        </form>
                    </td>
                    {{end}}
                    {{if eq $.Role "superadmin"}}
                    <td>
                        <form method="POST" action="/remove_user">
                            <input type="hidden" name="user_id" value="{{.Id}}">
                            <button type="submit" class="remove_btn">Remove</button>
                        </form>
                    </td>
                    {{end}}

                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>

</html>