<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Server/static/css/approve-user.css">
</head>
<body>
     <table id="usersTable">
            <tbody id="usersBody">
                {{range .User.Users}}
                <tr>
                    <td>Approve {{.Name}} With Id {{.Id}} as Admin</td>
                    {{if eq .Role "superadmin"}}
                    <td>
                        <form method="POST" action="/approve-user">
                            <input name="id" value="{{.Id}}">
                            <button type="submit" class="approve-btn">Approve</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/remove-user">
                            <input name="id" value="{{.Id}}">
                            <button type="submit" class="remove-btn">Remove</button>
                        </form>
                    </td>
                    {{end}}
                </tr>
                {{end}}
            </tbody>

        </table>
    
</body>
</html>