<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="/Server/static/css/books.css">

</head>

<body>

    <header>
        <h1>Available Books</h1>
        <div class="nav-buttons">
            <button onclick="location.href='/dashboard'">Home</button>
            <button onclick="location.href='/logout'">Logout</button>
        </div>
    </header>

    <div class="container">

        <div class="search-bar">
            <form class="search-bar" method="GET" action="/books">
                <input type="text" name="search" id="searchInput" placeholder="Search by name or author..."
                    value="{{.Query}}">
                <button type="submit">Search</button>
            </form>
        </div>

        <table id="booksTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Description</th>
                    <th>Available</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="booksBody">
                {{range .Book.Book}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Author}}</td>
                    <td>{{.Year}}</td>
                    <td>{{.Description}}</td>
                    <td>{{.Available}}</td>

                    {{if eq $.Role "user"}}
                    <td>
                        <form method="POST" action="/borrow">
                            <input type="hidden" name="id" value="{{.Id}}">
                            <button type="submit" class="borrow-btn">Borrow</button>
                        </form>
                    </td>
                    {{end}}

                    {{if eq $.Role "admin"}}
                    <td>
                        <form method="POST" action="/remove">
                            <input type="hidden" name="id" value="{{.Id}}">
                            <button type="submit" class="remove-btn">Remove</button>
                        </form>
                    </td>
                    {{end}}

                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

</body>

</html>
