<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrowed Books</title>
    <link rel="stylesheet" href="/Server/static/css/borrowed_books.css">
</head>
<body>

    <header>
        <h2>Borrowed Books</h2>
        <div class="nav-buttons">
            {{if eq $.Role "superadmin"}}
                <a href="/superadmin/dashboard">Home</a>
                {{end}}
                {{if eq $.Role "admin"}}
                <a href="/admin/dashboard">Home</a>
                {{end}}
                {{if eq $.Role "user"}}
                <a href="/books">Home</a>
                {{end}}
                <a href="/logout">Logout</a>
        </div>
    </header>

    <table>
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Title</th>
                <th>Borrowed Date</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            {{range .Book}}
            <tr>
                <td>{{.Book_id}}</td>
                <td>{{.BookName}}</td>
                <td>{{.Borrow_Date.Format "2006-01-02"}}</td>
                <td>
                    {{if .Returned_Date}}
                        {{.Returned_Date.Format "2006-01-02"}}
                    {{else}}Not Returned{{end}}
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="4">You haven't borrowed any books yet.</td>
            </tr>
            {{end}}
        </tbody>
    </table>

</body>
</html>
