<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Management</title>
  <link rel="stylesheet" href="/Server/static/css/manage_admins.css">
  
</head>
<body>

  <div class="navbar">
    <h1>Superadmin Dashboard</h1>
    <div class="navbar-buttons">
      <a href="/superadmin/dashboard">Home</a>
      <a href="/logout">Logout</a>
    </div>
  </div>

  <div class="container">
    <h2>Admins Awaiting Approval</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Approve</th>
        </tr>
      </thead>
      <tbody>
        {{range .Users1.Users}}
        <tr>
          <td>{{.Id}}</td>
          <td>{{.Name}}</td>
          <td>
            <form method="POST" action="/approve_admin">
              <input type="hidden" name="admin_id" value="{{.Id}}">
              <button type="submit" class="approve_btn">Approve</button>
            </form>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>

    <h2>All Admins</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {{range .Users2.Users}}
        <tr>
          <td>{{.Id}}</td>
          <td>{{.Name}}</td>
          <td>
            <form method="POST" action="/remove_admin">
              <input type="hidden" name="admin_id" value="{{.Id}}">
              <button type="submit" class="remove_btn">Remove</button>
            </form>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</body>
</html>
